$fullHeight: 575px;
$fullWidth: 785px;
$borderColor: #666;
$sidebarColor: #716363;
$leftSideWidth: 70vw;
$outputBoxHeight: 30vh;

body {
    height: $fullHeight;
    width: $fullWidth;
    font-size: 18px;
    background-color: $sidebarColor;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    overflow-x: hidden;

    div {
        box-sizing: border-box;
    }

    #pageContainer {
        display: flex;
        justify-content: space-between;

        #loading {
            position: absolute;
            width: $fullWidth;
            text-align: center;
        }

        #mainWindow {
            width: $leftSideWidth;
            min-width: $leftSideWidth;
            max-width: $leftSideWidth;
            background-color: #eee;
            color: #222;
            margin: 0;
            padding: 0 5px;
            min-height: 100vh;
            padding-bottom: $outputBoxHeight;

            header {
                label {
                    position: absolute;
                    top: 15px;
                    left: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: -10px 5px 10px 0;
                    height: 55px;
                    width: 55px;
                    background-color: $sidebarColor;
                    font-size: 40px;
                    font-weight: bold;
                    color: #eee;

                    &:hover {
                        cursor: pointer;
                        background-color: #222;
                    }
                }

                #logoContainer {
                    margin: 0 auto;
                    text-align: center;
                }
            }

            #inputContainer {
                position: absolute;
                visibility: hidden;
                z-index: -1;
            }

            #statusContainer {
                .statusRow {
                    border: 2px solid $borderColor;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;

                    .statusRowLeft {
                        display: flex;
                        align-items: center;
                        font-weight: bold;

                        .fullPath {
                            font-size: 12px;
                        }

                        .removeButton {
                            font-size: 38px;
                            color: darkred;
                            margin-right: 20px;

                            &:hover {
                                cursor: pointer;
                                color: red;
                            }
                        }
                    }
                    .statusRowRight {
                        display: flex;
                        align-items: center;

                        .refreshButton {
                            height: 38px;
                            width: auto;
                            opacity: .8;

                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            #outputBox {
                width: 100%;
                margin-left: -5px;
                position: fixed;
                bottom: 0;
                height: $outputBoxHeight;
                border-top: 2px solid $borderColor;
                background-color: #fff;
                padding: 10px;

                h2 {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 3px 0 10px;
                }

                #loading {
                    height: 70px;
                    width: auto;
                }
            }
        }

        #sidebar {
            width: calc(100vw - $leftSideWidth);
            min-width: calc(100vw - $leftSideWidth);
            max-width: calc(100vw - $leftSideWidth);
            padding: 5px;
            font-weight: bold;

            label {
                font-size: 14px;
            }

            input {
                margin: 15px 0 5px;
                color: $sidebarColor;
            }

            #displayOutputPath {
                font-size: 12px;
            }

            #resetOutputPathButton {
                font-size: 14px;
                color: lightskyblue;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}
